    NAME      : CHAN HUE WAH

    MATRIX ID : CA19059

    SEMESTER  : SEMESTER I 2022/2023

    COURSE    : BCC3024 UNDERGRADUATE PROJECT II

    PROJECT   : FINAL YEAR PROJECT

    DATASET   : HEART DISEASE

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

1.0) IMPORT HEART DISEASE DATASET / DATA COLLECTION

In [2]:
# Import and Read the Heart Disease Dataset under the variable of 'full_data'
full_data = pd.read_csv('heart.csv')

full_data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

2.0) DATA EXPLORING

In [3]:
# prints information about the DataFrame
full_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [ ]:
# Print the number of missing values
print(full_data.isnull().sum())

3.0) DATA SPLITTING 60:40

In [ ]:
# Split Data into ratio 60:40 (60% Training Data & 40% Testing Data)
from sklearn.model_selection import train_test_split

attribute_column = ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target']  # Attribute in the Dataset
data = full_data[attribute_column]  # attribute

training_data,testing_data = train_test_split(data, test_size=0.4, shuffle=False)

print(training_data) # 60% Random Training Dataset
print()

print(testing_data) # 40% Random Testing Dataset
print()

#Eliminate the outcome column(target) for testing_data
testing_data_no_output = testing_data.iloc[:,range(testing_data.shape[1]-1)]

In [ ]:
# Store 60% Random data into heart_Training_data_Before_Normalization.csv under variable of 'train' 
training_data.to_csv('heart_Training_data_Before_Normalization.csv', index=False)
train = pd.read_csv('heart_Training_data_Before_Normalization.csv')

# Store 40% Random data without output into heart_Testing_data_Before_Normalization.csv under variable of 'test'
testing_data_no_output.to_csv('heart_Testing_data_Before_Normalization.csv', index=False)
test = pd.read_csv('heart_Testing_data_Before_Normalization.csv')

4.0) 60% TESTING DATA NORMALIZATION

In [ ]:
# Import and Read the 60% random train data before Normalization by using the variable 'train_normalization'
train_normalization = pd.read_csv('heart_Training_data_Before_Normalization.csv')

In [ ]:
train_normalization

In [ ]:
# prints information about the DataFrame
train_normalization.info()

In [ ]:
# Print the number of missing values
print(train_normalization.isnull().sum())

In [ ]:
# Normalization Process for 60% random train data
from sklearn.preprocessing import Normalizer

normal = Normalizer()

train_normalization.iloc[:,0:-1] = normal.fit_transform(train_normalization.iloc[:,0:-1])

train_normalization

In [ ]:
# Store train 60% Random Normalized data into 'heart_Training_data_After_Normalization.csv'
train_normalization.to_csv('heart_Training_data_After_Normalization.csv', index=False)

5.0) 40% TESTING DATA NORMALIZATION

In [ ]:
# Read the 40% random test data before Normalization by using the variable 'test_normalization'
test_normalization = testing_data

In [ ]:
test_normalization

In [ ]:
# prints information about the DataFrame
test_normalization.info()

In [ ]:
# Print the number of missing values
print(test_normalization.isnull().sum())

In [ ]:
# Normalization Process for 40% random test data
from sklearn.preprocessing import Normalizer

norm = Normalizer()

test_normalization.iloc[:,0:-1] = norm.fit_transform(test_normalization.iloc[:,0:-1])

test_normalization

In [ ]:
# Store test 40% Random Normalized data into 'heart_Testing_data_After_Normalization.csv'
test_normalization.to_csv('heart_Testing_data_After_Normalization.csv', index=False)

6.0) CASE BASE REASONING (CBR)

In [ ]:
# Import and Read the 60% Random Normalized Train data by using variable 'train_normalize'
train_normalize = pd.read_csv('heart_Training_data_After_Normalization.csv')

# Import and Read the 40% Random Normalized Test data by using variable 'test_normalize'
test_normalize = pd.read_csv('heart_Testing_data_After_Normalization.csv')

# Import and Read the 70% Random Train data before Normalized  by using variable 'train_ori'
train_ori = pd.read_csv('heart_Training_data_Before_Normalization.csv')

# Import and Read the 30% Random Test data before Normalized by using variable 'test_ori'
test_ori = pd.read_csv('heart_Testing_data_Before_Normalization.csv')

In [ ]:
# View Data
train_normalize

In [ ]:
# View Data
test_normalize

In [ ]:
# View Data
train_ori

In [ ]:
# View Data
test_ori

In [ ]:
# Eliminate the Output column of the 'train_normalize' variable
case_base = train_normalize.iloc[:,range(train_normalize.shape[1]-1)]
case_base

In [ ]:
# Retrieve Cycle
max_value = case_base.max()
min_value = case_base.min()

# Print Max value
max_value

In [ ]:
# Print Min value
min_value

In [ ]:
# Calculate Range Value
range_value = max_value-min_value
range_value

In [ ]:
local_similarity = np.zeros(case_base.shape)
local_similarity

In [ ]:
# Declaring weightage to all the attributes
weightage=np.ones(test.shape[1])
weightage

In [ ]:
len(weightage)
total_weightage=0
# Calculate total weightage
for i in range(len(weightage)):
    total_weightage+=weightage[i]

total_weightage

In [ ]:
global_similarity=np.zeros(case_base.shape[0])
global_similarity

In [ ]:
# Retrieve Cycle  -- Find similiar problems

for k in range(test_normalize.shape[0]):
    print('=============================================================================')
    print(f'\t\t\t TEST DATA Case: {k+1}')
    print('=============================================================================')
    for i in range(case_base.shape[0]):
        total_similarity = 0
        print('=============================================================================')
        print(f'\t\t LOCAL SIMILARITY for TEST_DATA Case: {k+1}')
        print('=============================================================================')
        for j in range(case_base.shape[1]):
            # Calculate Local Similarity
            local_similarity[i,j]=1-(abs(test_normalize.iloc[k,j]-case_base.iloc[i,j])/range_value[j])

            # Calculate Global Similarity
            total_similarity += (local_similarity[i,j] * weightage[j])
            global_similarity[i] = (1/total_weightage) * total_similarity
            print(f'Local Similarity TRAIN DATA Case {i+1}, Attribute: {train_normalize.columns[j]} \t = {local_similarity[i,j]}')

        print('-----------------------------------------------------------------------------')
        print(f'Global Similarity TRAIN DATA Case {i+1} = {global_similarity[i]}')
        print('-----------------------------------------------------------------------------')
    
    # Identify the Highest Value of the Global Similarity
    highest_similarity = global_similarity
    highest_index = np.argmax(highest_similarity)
    print('=============================================================================')
    print(f'Highest Similarity for TEST DATA Case {k+1} = {highest_similarity.max()}')
    print('=============================================================================')
    print('\n')
    
    # Reuse Cycle -- Reuse a previous solution in a new situation
    # Propose solution for new cases from the solutions in the retrieved cases
    test_data = np.append(test_ori.iloc[k,:],train_normalize.iloc[highest_index,-1])
    
    # Revise Cycle 
    # There is no Revise Cycle implemented because the 'target' output column only have 2 values(either 0 or 1)
    
    # Retain Cycle -- Integrated into case-based system
    # Store the result for the new solution to the train_ori
    test_data = pd.Series(test_data,index = train_ori.columns)
    
    
    # Update / Merge the new solution with the previous dataset in 'heart_Training_data_Before_Normalization.csv'
    train_ori = train_ori.append(test_data,ignore_index=True)
    train_ori.to_csv('heart_Training_data_Before_Normalization.csv', index=False)

7.0) ACCURACY

In [ ]:
df1 = pd.read_csv('heart.csv')
df2 = pd.read_csv('heart_Training_data_Before_Normalization.csv')

In [ ]:
result = df1.apply(tuple, 1).isin(df2.apply(tuple, 1))
result = pd.DataFrame(result, columns=['Results'])

result

In [ ]:
result

In [ ]:
q1 = result['Results'].values.sum()  # True
q2 = (~result['Results']).values.sum() # False
q3 = len(result)

In [ ]:
percentage = (q1 / q3) * 100

print("Accuracy: " ,percentage)

8.0) VISUALIZATION

In [ ]:
from matplotlib import pyplot as plt

plt.figure(figsize=(17,6))
sns.heatmap(df2.corr(),annot=True)
plt.title("Correlation between features",fontsize=20,fontweight="bold")
plt.show

In [ ]:
bar = sns.countplot(x='Results', data = result)
bar.set(xlabel='Results', ylabel='Numbers')
plt.show()

In [ ]:
f = sns.countplot(x='target', data=df2, hue='sex')
plt.legend(['Female', 'Male'])
f.set_title("Heart disease presence by gender")
f.set_xticklabels(['No Heart disease', 'Heart Disease'])
plt.xlabel("");

In [ ]:
plt.scatter(x=df2.age[df2.target==1], y=df2.thalach[(df2.target==1)], c="red", s=60)
plt.scatter(x=df2.age[df2.target==0], y=df2.thalach[(df2.target==0)], s=60)
plt.legend(["Disease", "No Disease"])
plt.xlabel("Age")
plt.ylabel("Maximum Heart Rate");

In [ ]:
f = sns.countplot(x='cp', data=df2, hue='target')
f.set_xticklabels(['Typical Angina', 'Atypical Angina', 'Non-anginal Pain', 'Asymptomatic']);
f.set_title('Disease presence by chest pain type')
plt.ylabel('Chest Pain Type')
plt.xlabel('')
plt.legend(['No Disease', 'Disease']);